In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/prem/Documents/Modelling in operational management/stocktwits_scraped4.csv")

In [3]:
df.head()

,symbol,sentiment,message,datetime,user,username,userfollowers,user_likecount,message_id,message_likes
0,TWTR,Bullish,PayPal Might Be Interest In BitGo And Paxos \n...,2020-10-26T22:35:59Z,1487466,ETNMAN,12,179,252628590,NaN
1,TWTR,Bullish,$SPOT $GOOGL $TWTR $AMZN .,2020-10-26T22:32:24Z,748375,FlynancialAnalyst,6914,38315,252628038,NaN
2,TWTR,Bullish,$TWTR Fill that gap at $51 and it could get in...,2020-10-26T21:12:08Z,4233873,PaperTradeNation,2,0,252615252,NaN
3,TWTR,Bullish,$TWTR (delayed) Trade ideas: Oct 30 $54 Calls ...,2020-10-26T20:00:03Z,4049970,TheUTradeTeam,772,22,252597426,NaN
4,TWTR,Bullish,$TWTR buy the dip!,2020-10-26T19:51:12Z,1124832,4ProfitS,197,17655,252594849,NaN

In [4]:
df.tail()

,symbol,sentiment,message,datetime,user,username,userfollowers,user_likecount,message_id,message_likes
2077,FB,Bearish,"$LYFT $FB Facebook could buy Lyft, and then th...",2019-04-02T22:42:59Z,2314,bearcharts,58798,24729,159305934,NaN
2078,FB,Bullish,$LTC.X $BTC.X $NVDA $FB $AMD $ATVI $AAPL lol b...,2019-04-02T22:40:07Z,1123123,MrWallStreet09,48,117,159305652,NaN
2079,FB,Bullish,$FB going to be 180+ before earnings,2019-04-02T22:30:06Z,707843,clays26,118,3595,159304834,NaN
2080,FB,Bullish,$FB **Yawn** Wake me if something happens.,2019-04-02T22:28:49Z,335573,Checklist,108,1851,159304729,NaN
2081,FB,Bearish,$SPY \n\n$AMZN &amp; $FB at major resistance c...,2019-04-02T22:00:51Z,1808759,psychedlic_trader,98,1279,159302151,NaN

In [5]:
#df.iloc[3415]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2082 entries, 0 to 2081
Data columns (total 10 columns):
symbol            2082 non-null object
sentiment         2082 non-null object
message           2082 non-null object
datetime          2082 non-null object
user              2082 non-null int64
username          2082 non-null object
userfollowers     2082 non-null int64
user_likecount    2082 non-null int64
message_id        2082 non-null int64
message_likes     0 non-null float64
dtypes: float64(1), int64(4), object(5)
memory usage: 162.7+ KB

In [7]:
count = 0
for row in range(len(df)):
    if df.iloc[row,6] >= 50 and df.iloc[row,7] >= 50:
        count+=1
            
print(count)

1032

In [8]:
df.drop(columns = ['symbol','user','username','message_id'],inplace=True)

In [9]:
df.shape

(2082, 6)

In [10]:
df.head()

,sentiment,message,datetime,userfollowers,user_likecount,message_likes
0,Bullish,PayPal Might Be Interest In BitGo And Paxos \n...,2020-10-26T22:35:59Z,12,179,NaN
1,Bullish,$SPOT $GOOGL $TWTR $AMZN .,2020-10-26T22:32:24Z,6914,38315,NaN
2,Bullish,$TWTR Fill that gap at $51 and it could get in...,2020-10-26T21:12:08Z,2,0,NaN
3,Bullish,$TWTR (delayed) Trade ideas: Oct 30 $54 Calls ...,2020-10-26T20:00:03Z,772,22,NaN
4,Bullish,$TWTR buy the dip!,2020-10-26T19:51:12Z,197,17655,NaN

In [11]:
date_list = []
for row in range(len(df)):
    date_list.append(df.iloc[row,2][:10])

df['message_date'] = date_list

In [12]:
df.head()

,sentiment,message,datetime,userfollowers,user_likecount,message_likes,message_date
0,Bullish,PayPal Might Be Interest In BitGo And Paxos \n...,2020-10-26T22:35:59Z,12,179,NaN,2020-10-26
1,Bullish,$SPOT $GOOGL $TWTR $AMZN .,2020-10-26T22:32:24Z,6914,38315,NaN,2020-10-26
2,Bullish,$TWTR Fill that gap at $51 and it could get in...,2020-10-26T21:12:08Z,2,0,NaN,2020-10-26
3,Bullish,$TWTR (delayed) Trade ideas: Oct 30 $54 Calls ...,2020-10-26T20:00:03Z,772,22,NaN,2020-10-26
4,Bullish,$TWTR buy the dip!,2020-10-26T19:51:12Z,197,17655,NaN,2020-10-26

In [13]:
df.drop(columns = ['datetime'],inplace=True)

In [14]:
df.head()

,sentiment,message,userfollowers,user_likecount,message_likes,message_date
0,Bullish,PayPal Might Be Interest In BitGo And Paxos \n...,12,179,NaN,2020-10-26
1,Bullish,$SPOT $GOOGL $TWTR $AMZN .,6914,38315,NaN,2020-10-26
2,Bullish,$TWTR Fill that gap at $51 and it could get in...,2,0,NaN,2020-10-26
3,Bullish,$TWTR (delayed) Trade ideas: Oct 30 $54 Calls ...,772,22,NaN,2020-10-26
4,Bullish,$TWTR buy the dip!,197,17655,NaN,2020-10-26

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2082 entries, 0 to 2081
Data columns (total 6 columns):
sentiment         2082 non-null object
message           2082 non-null object
userfollowers     2082 non-null int64
user_likecount    2082 non-null int64
message_likes     0 non-null float64
message_date      2082 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 97.7+ KB

In [16]:
df.tail()

,sentiment,message,userfollowers,user_likecount,message_likes,message_date
2077,Bearish,"$LYFT $FB Facebook could buy Lyft, and then th...",58798,24729,NaN,2019-04-02
2078,Bullish,$LTC.X $BTC.X $NVDA $FB $AMD $ATVI $AAPL lol b...,48,117,NaN,2019-04-02
2079,Bullish,$FB going to be 180+ before earnings,118,3595,NaN,2019-04-02
2080,Bullish,$FB **Yawn** Wake me if something happens.,108,1851,NaN,2019-04-02
2081,Bearish,$SPY \n\n$AMZN &amp; $FB at major resistance c...,98,1279,NaN,2019-04-02

In [17]:
value = df['sentiment'].value_counts()
value

Bullish    1565
Bearish     517
Name: sentiment, dtype: int64

In [18]:
df.drop(df[df['userfollowers'] < 50].index, inplace=True)

In [19]:
df.shape

(1105, 6)

In [20]:
value = df['sentiment'].value_counts()
value

Bullish    822
Bearish    283
Name: sentiment, dtype: int64

In [21]:
df.head()

,sentiment,message,userfollowers,user_likecount,message_likes,message_date
1,Bullish,$SPOT $GOOGL $TWTR $AMZN .,6914,38315,NaN,2020-10-26
3,Bullish,$TWTR (delayed) Trade ideas: Oct 30 $54 Calls ...,772,22,NaN,2020-10-26
4,Bullish,$TWTR buy the dip!,197,17655,NaN,2020-10-26
6,Bullish,$BVXV So over 86% drop on Friday and another 2...,65,5535,NaN,2020-10-26
7,Bullish,$AMD $TWLO $SBUX $UPS $TWTR \n\nSome good dips...,1777,576,NaN,2020-10-26

In [22]:
df.drop(df[df['message_date']<'2019-01-01'].index,inplace=True)
df.drop(df[df['message_date']>'2020-09-30'].index,inplace=True)

In [23]:
df.reset_index(drop=True,inplace=True)

In [24]:
df.shape

(997, 6)

In [25]:
df.head()

,sentiment,message,userfollowers,user_likecount,message_likes,message_date
0,Bullish,$CHGG we need to see some volume,123,94,NaN,2020-09-30
1,Bullish,"$CHGG I think there&#39;s a breakout coming, s...",123,94,NaN,2020-09-30
2,Bullish,The market cap of $CHGG is roughly 9.2 billion...,1581,1390,NaN,2020-09-30
3,Bullish,$FSLY $AAPL $NET The market wants tech stocks ...,105,3780,NaN,2020-09-29
4,Bullish,$SPAQ buy the rumor sell the news . $AAPL \n\n...,438,2960,NaN,2020-09-29

In [26]:
df_cleaned = df.drop(columns = ['userfollowers','user_likecount','message_likes','message_date'])

In [27]:
df_cleaned.head()

  sentiment                                            message
0   Bullish                   $CHGG we need to see some volume
1   Bullish  $CHGG I think there&#39;s a breakout coming, s...
2   Bullish  The market cap of $CHGG is roughly 9.2 billion...
3   Bullish  $FSLY $AAPL $NET The market wants tech stocks ...
4   Bullish  $SPAQ buy the rumor sell the news . $AAPL \n\n...

In [28]:
df_cleaned.shape

(997, 2)

In [30]:
#df.to_csv("/home/prem/Documents/Modelling in operational management/stocktwits_cleaned4.csv",index=False)